@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-gray : #ebebeb ;
  --gray-text-1 : #666c72 ; 
  --gray-border-1 : rgba(0,0,0,.15); 
  --gray-border-2 : #c2c2c2 ;  
}

*{
  font-family: 'Roboto Condensed', sans-serif;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.padding-12{
  padding: 12px;
}
